services:
  app:
    build:
      context: ./app/
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    develop:
      watch:
        - action: rebuild
          path: app/
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
  ssh:
    build:
      context: ./ssh/
      dockerfile: Dockerfile
    ports:
      - "2222:22"