apiVersion: apps/v1
kind: Deployment
metadata:
    name: server-benchmark-app
    labels:
        app: server-benchmark
spec:
    replicas: 3
    selector:
        matchLabels:
            app: server-benchmark
    template:
        metadata:
            labels:
                app: server-benchmark
        spec:
            containers:
                - name: server-benchmark-app
                  image: faboborgeslima/server-benchmark-app:v1.0.0
                  ports:
                      - containerPort: 8080
                  env:
                      - name: APP_URL
                        value: "http://server-benchmark-app:8080"
